@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    margin: 0px;
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
}
a{
    color: #0050c3;
}
p{
    line-height: 1.3;
    font-size: 18px;
}
*{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans',-apple-system,BlinkMacSystemFont,"Helvetica Neue",arial,sans-serif;
}
input,button{
    line-height: inherit;
}
header{
    display: block;
    z-index: 1000;
    position:sticky;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 120px 0px;
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.small{
    font-size: 14px;
    line-height: 18px;
}
h1,h2,.h2,h3{
    margin-bottom: 24px;
    line-height: 1.05;
    letter-spacing: -.54px;
    font-weight: 600;
    margin-top: 0;
}
h3{
    font-size: 32px;
}
h2,.h2{
    font-size: 42px;
}
h4{
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -.2px;
}
.primera-seccion{
    margin-top: -88px;
    padding-top: 117.333px;
    padding-bottom: 0px;
}
.container{
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 13.5px;
    padding-left: 13.5px;
    margin-right: auto;
    margin-left: auto;
}

.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.pb-5{
    padding-bottom: 3rem;
}
.row>*{
    width: 100%;
    max-width: 100%;
    padding-left: 13.5px;
    padding-right: 13.5px;
    margin-top: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -13.5px;
    margin-right: -13.5px;
}
.col-9 {flex: 0 0 75%; max-width: 75%;}
.col-8 {flex: 0 0 66.666666%; max-width: 66.6666667%;}
.col-7 {flex: 0 0 58.3333%; max-width: 58.3333%;}
.col-6 {flex: 0 0 50%; max-width: 50%;}
.col-5 {flex: 0 0 41.66667%; max-width: 41.66667%;}
.col-4 {flex: 0 0 33.333333%; max-width: 33.333333%;}
.col-3 {flex: 0 0 25%; max-width: 25%;}
.offset-1 {
    margin-left: 8.33333%;
}
.offset-2{
    margin-left: 16.66667%;
}
.bg-color-1{
    background-color: #0050c3;
    color: #fff;
}
.bg-color-2{
    background-color: #fff;
}
.mt-0{
    margin-top: 0px;
}
.mt-2 {
    margin-top: .5rem !important;
}
.mt-4{
    margin-top: 1.5rem !important;
}
.mt-32{
    margin-top: 32px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-9{
    margin-bottom: 9px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-56{
    margin-bottom: 56px;
}
.ml-110{
    margin-left: 110px;
}
.h-100{
    height: 100%;
}
.text-align-center{
    text-align: center;
}
.nav{
    height: 88px;
}
.input-con-boton{
    display: flex;
    align-items: center;
    position: relative;
}
.input-email{
    margin: 0;
    height: 60px;
    padding-right: 160px;
    padding-left: 24px;
    border-radius: 48px;
    display: block;
    border: 1px solid #fff;
    box-shadow: none;
    color: #4b5fa0;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    width: 100%;
    outline: 0;
}

.input-boton{
    width: fit-content;
    margin-top: 0;
    position: absolute;
    right: 6px;
}
.boton-crear-tienda{
    background-color: #0050c3;
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    font-size: 16px;
    text-align: center;
    padding: 12px 24px;
    display: inline-flex;
    border-radius: 100px;
    border: 1px solid transparent;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.boton-crear-tienda:hover{
    transition: 0.3s;
    background-color: #fff;
    color: #0050c3;
    border-color: #0050c3;
}
.boton-color-2{
    background-color: #fff;
    color: #0050c3;
    border-color: #0050c3;
}
.boton-color-2:hover{
    transition: 0.3s;
    background-color: #0050c3;
    color: #fff;
    border-color: #fff;
}

.blanco {
  filter: brightness(0) invert(1);
}
.navbar-logo{
    height: 88px;
}
.navbar-login{
    justify-content: flex-end;
    align-items: center;
}
.link-login{
    padding: 6px 12px;
}
.login{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
.tarjeta{
    border: 1px solid #0050c366;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 16px;
    padding: 32px 24px 40px 24px;
}
.icono-tarjeta{
    background-color: #f7f7f7;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.bullets-icon {
    --bullets-icon-size: 32px;
    border-radius: 50%;
    transform: translateY(-3px);
    flex: 0 0 var(--bullets-icon-size);
    width: var(--bullets-icon-size);
    height: var(--bullets-icon-size);
    aspect-ratio: 1 / 1;
    background-color: #0050c326;
    margin-right: 9px;
}
.texto-lista{
    color: #171E43;
    vertical-align: middle;
    align-items: center;
}
.tarjeta-testimonio{
    padding: 48px 24px;
    border: 1px solid white;
    border-radius: 16px;
    color: black;
    width: 517px;
}
.lista{
    padding: 0;
}
.comilla{
    font-size: 120px;
    line-height: 1;
    max-height: 50px;
    margin-left: -6px;
}
.wrap-col{
    flex-wrap: wrap;
    flex-direction: column;
}
.align-items-flex-start{
    align-items: flex-start;
}
.faq-item{
    border-bottom: 1px solid #e7e8e9;
    padding: 24px 0px;
}
.faq-icono{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0050c3;
}
.faq-pregunta{
    font-weight: 600;
    font-size: 24px;
}
.boton-flecha{
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #0050c3;
}
#logo{
    fill: #fff;
    height: 40px;
    vertical-align: middle;
    margin-top: 16px;
}
footer{
    background-color: #0050c3;
    padding: 54px 0px;
    color: white;
}
.redes-sociales{
    height: 24px;
}
.lista-redes-sociales{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}